body {
    background-color: pink;
    
}
#pierwszy {
    background-color: green;
    width: 600px;
    height: 100px;
    margin-bottom: 10px;

    position: relative;
    top: 10px;
    left: 10px;
}

#drugi {
    background-color: red;
    width: 600px;
    height: 100px;
    
    top: 50px;
    
}

#trzeci {
    background-color: lime;
    width: 100px;
    height: 100px;
    
    position: fixed;
    
    
}